
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #FE423D;
$error-color: #ba2836;

$grey: #3E7299;
$blue: #147ECC;
$lightblue: #00FFE4;
$orange: #FF6040;
$red: #CC1814;
$sitebackground: #41607F;
